h1, h2, h3, h4 {
    text-align: center;
}

a {
    color: #fff;
}

a:hover {
    color: #ccc;
}

.honorable-mentions {
    display: flex;
    justify-content: center;
}

main, footer {
    text-align: center;
}

/* home */
.main-image {
    margin: 5rem;
}

/* football */
#football {
    background-color: silver;
}

#carouselExampleCaptions {
    width: 400px;
    height: 400px;
    margin: auto;
}

/* baseball */
#baseball {
    background-color: #261d19;
    color: #fbc721;
}


